<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Css-->
    <link rel="stylesheet" href="static/style/style.css" />

    <!--Ctrl + F = Restarta o Static file do broser -->

    <!-- Jquery         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    -->
    <script src="static/js/jquery-3.5.1.min.js"></script>

</head>

<body>

    <!-- Minha Variável Python para Armazenada em 
    uma variável JS agora-->
    <script type="text/javascript">
        board_python_to_js = {{ board_python|tojson }}
    </script>


    <div class="container">
        <h1>Tic-Tac-Toe</h1>
        <div class="play-area">
            <div id="block_0" class="block"></div>
            <div id="block_1" class="block"></div>
            <div id="block_2" class="block"></div>
            <div id="block_3" class="block"></div>
            <div id="block_4" class="block"></div>
            <div id="block_5" class="block"></div>
            <div id="block_6" class="block"></div>
            <div id="block_7" class="block"></div>
            <div id="block_8" class="block"></div>
        </div>

        <h2 id="winner"></h2>
        <button onclick="reset_board()">RESET BOARD</button> 
    </div>


    <script src="static/js/jquery.js"></script>


    <script src="static/js/app.js"></script>


</body>

</html>